body{
  background-color: #E8EAF6; /* Indigo 50 */
}

p {
  text-align: left;
  font-family:Arial, sans-serif;
  font-size: 85%;
}

/* NAV BAR STYLES */

.navbar-custom {
  background-color: #3F51B5; /* Indigo 500 */
}

.navbar-default {
  border-color: #C5CAE9;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus{
  color: #E8EAF6;
}

.navbar-default .navbar-brand:hover {
  color: #C5CAE9;
}

.navbar-default .navbar-nav>li>a {
  color: #E8EAF6;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #C5CAE9; /* Indigo 100 */
}

.navbar-default .navbar-toggle {
  border-color: #C5CAE9;
}

.navbar-default .navbar-toggle:focus {
  background-color: #3F51B5;
}

.navbar-default .navbar-toggle:hover {
  background-color: #5C6BC0; /* Indigo 400 */
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #E8EAF6;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #C5CAE9;
}

/* END NAV BAR STYLES */

.glyphicon {
  font-size: 20px;
}

.profile-img {
  width: 100%;
  height: 100%;
}

